* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  cursor: none;
}

a:hover {
  cursor: none;
}

/* mouse cursor effect */
.cursor {
  z-index: 9999;
  width: 20px;
  height: 20px;
  border: 1px solid blue;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: cursorAnim .5s infinite alternate;
          animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: .5;
  top: -9px;
  left: -9px;
  -webkit-animation: cursorAnim2 .5s infinite alternate;
          animation: cursorAnim2 .5s infinite alternate;
}

@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.expand {
  -webkit-animation: cursorAnim3 .5s forwards;
          animation: cursorAnim3 .5s forwards;
  border: 1px solid red;
}

h1 {
  font-family: "Druk Text Wide", sans-serif;
  color: white;
}

.s1 {
  background: url("../img/firstpage.png");
  background-size: cover;
  background-position: center;
}

.s1 h1 {
  font-family: "Druk Text Wide", sans-serif;
  font-size: 5em;
  color: transparent;
  -webkit-text-stroke: 1px #FFF;
  text-align: center;
}

.s1 .s1contentone {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.s1 .mytitle {
  width: 80%;
  margin: 1em auto;
}

.s1 .parallaximgone {
  margin-left: 80%;
  margin-top: 30%;
}

.s1 .parallaximgone:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: .8s;
  transition: .8s;
}

.s1 .parallaximgtwo:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: .8s;
  transition: .8s;
}

.s1 .parallaximgtwo {
  margin-left: 20%;
}

.s1 .s1contentone p {
  color: white;
  text-align: center;
}

.s2 {
  background: url("../img/secondpagebackground.png");
  background-size: cover;
  background-position: center;
}

.s2 h1 {
  font-family: "Druk Text Wide", sans-serif;
  font-size: 5em;
  color: #5b78c7;
  padding-top: 5rem;
  text-align: center;
}

.s2 .s2contentone {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.s2 .aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  top: 20vh;
  margin-top: 2rem;
  left: 0;
  overflow: hidden;
}

.s2 .selfimg {
  width: 50%;
}

.s2 .selfimg .imgbox {
  width: 80%;
  height: 100%;
  margin: 2rem auto;
}

.s2 .imgbox img {
  width: 100%;
}

.s2 .bio {
  width: 50%;
}

.s2 .bio p {
  width: 80%;
  color: #5b78c7;
  font-size: 1.5em;
  line-height: 2em;
  margin: 2rem auto;
}

.s3 {
  background: url("../img/thirdpagebackground.png");
  background-size: cover;
  background-position: center;
}

.s3 .s3content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.s3 .s3contentone {
  width: 100%;
}

.s3 .s3contentone h1 {
  font-family: "Druk Text Wide", sans-serif;
  font-size: 5em;
  color: transparent;
  -webkit-text-stroke: 1px #FFF;
  text-align: center;
}

.s3 .s3contenttwo {
  margin-top: 2rem;
  width: 60%;
}

.s3 .s3contenttwo .projectone {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em auto;
  margin-top: 2rem;
}

.s3 .videowidth {
  width: 80%;
  margin: 1em auto;
  z-index: 3;
}

.s3 video {
  width: 100%;
}

.s3 .s3contenttwo .projecttwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.s3 .projectone .imgcontainer {
  width: 50%;
}

.s3 .projectone .imgcontainer .sizebox {
  overflow: hidden;
}

.s3 .projectone .imgcontainer .sizebox img {
  opacity: .9;
}

.s3 .projectone .imgcontainer .sizebox img:hover {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 1;
}

.s3 .projectcontenttwo .sizebox {
  width: 80%;
  margin: 1em auto;
}

.s3 .projectcontenttwo .sizebox p {
  color: white;
  font-size: 1.2em;
}

.s3 .projectone .projectcontentone p {
  color: white;
  width: 100%;
  margin: 1em auto;
  font-size: 1.2em;
}

.s3 .projectone .projectcontentone {
  width: 50%;
}

.s4 {
  background: url("../img/thirdpagebackground.png");
  background-size: cover;
  background-position: center;
}

.s4 .s4content {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.s4 .s4contentone h1 {
  font-family: "Druk Text Wide", sans-serif;
  font-size: 5em;
  color: transparent;
  -webkit-text-stroke: 1px #FFF;
  text-align: center;
}

.s4 .s4contenttwo {
  margin-top: 2rem;
  width: 55%;
}

.s4 .s4contenttwo .project .projecttwo {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em auto;
  margin-top: 5rem;
}

.s4 .projecttwo .imgcontainer {
  width: 50%;
}

.s4 .projecttwo .projectcontenttwo {
  width: 50%;
}

.s4 .projecttwo .projectcontenttwo p {
  margin-left: 1em;
  color: white;
  font-size: 1.2em;
}

.s4 .projecttwo .imgcontainer img {
  opacity: .9;
  width: 100%;
}

.s4 .projecttwo .imgcontainer .sizebox {
  overflow: hidden;
}

.s4 .projecttwo .imgcontainer .sizebox img:hover {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.s4 .videowidth {
  width: 80%;
  margin: 1em auto;
  z-index: 3;
}

.s4 video {
  width: 100%;
}

.s5 {
  background: url("../img/contact_me.png");
  background-size: cover;
  background-position: center;
}

.s5 .s5content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.s5 .s5content .contactme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 1em auto;
  margin-top: 15rem;
}

.s5 h1 {
  color: white;
}

.s5 .s5contentone {
  width: 50%;
}

.s5 .s5contenttwo {
  width: 50%;
}

.s5 .s5contentone .imgcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 1em auto;
  margin-top: 20%;
}

.s5 .s5contentone #imgone {
  width: 40%;
  margin: 1em auto;
}

.s5 .s5contentone #imgtwo {
  width: 40%;
  margin: 1em auto;
}

.s5 .s5content .s5contenttwo .contactinfo {
  width: 80%;
  margin: 1em auto;
  margin-top: 20%;
}

.s5 .s5content .s5contenttwo .contactinfo h1 {
  width: 80%;
  margin: 1em auto;
  color: white;
  font-size: 2em;
  line-height: 2em;
}

.s5 .s5content .s5contenttwo .contactinfo h2 {
  width: 80%;
  margin: 1em auto;
  color: white;
  font-size: 1.5em;
  line-height: 1.5em;
}

.s5 .s5contentone .imgcontainer img:first-child {
  -webkit-animation-name: mymovement;
          animation-name: mymovement;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.s5 .s5contentone .imgcontainer img:last-child {
  -webkit-animation-name: mymovement_2;
          animation-name: mymovement_2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes mymovement {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes mymovement {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes mymovement_2 {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes mymovement_2 {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 0 2px grey;
          box-shadow: inset 0 0 0 2px grey;
  overflow: hidden;
}

#fp-nav ul li a span::after,
.fp-slidesNav ul li a span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  background-color: grey;
  -webkit-box-shadow: 0 0 1px grey;
          box-shadow: 0 0 1px grey;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 0 2px grey;
          box-shadow: inset 0 0 0 2px grey;
}

#fp-nav ul li a.active span::after,
.fp-slidesNav ul li a.active span::after,
#fp-nav ul li:hover a.active span::after,
.fp-slidesNav ul li:hover a.active span::after {
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .s1 .mytitle {
    width: 80%;
  }
  .s1 .mytitle h1 {
    font-size: 4em;
  }
  .s1 .parallaximgone {
    display: none;
  }
  .s1 .parallaximgtwo {
    display: none;
  }
  .s2 h1 {
    font-size: 4em;
    padding-top: 1rem;
  }
  .s2 .s2contenttwo .aboutme {
    margin-top: -2rem;
    display: block;
  }
  .s2 .selfimg {
    width: 100%;
  }
  .s2 .bio {
    width: 100%;
  }
  .s2 .selfimg .imgbox {
    width: 60%;
  }
  .s2 .bio p {
    width: 60%;
    font-size: 1em;
  }
  .s3 .s3contenttwo {
    width: 100%;
  }
  .s3 .s3contentone h1 {
    font-size: 4em;
  }
  .s3 .projectone .imgcontainer {
    width: 30%;
  }
  .s3 .projectone .imgcontainer img {
    width: 100%;
  }
  .s3 .projectone .projectcontentone {
    width: 70%;
  }
  .s4 .s4contenttwo {
    width: 100%;
  }
  .s4 .s4contentone h1 {
    font-size: 4em;
  }
  .s4 .projecttwo .imgcontainer {
    width: 30%;
  }
  .s4 .projecttwo .imgcontainer img {
    width: 100%;
  }
  .s4 .projecttwo .projectcontenttwo {
    width: 70%;
  }
  .s5 .s5content .contactme {
    display: block;
    width: 90%;
    margin: 1em auto;
  }
  .s5 .s5contentone {
    margin: 1em auto;
    margin-top: 22em;
  }
  .s5 .s5contenttwo {
    width: 100%;
  }
  .s5 .s5content .s5contenttwo .contactinfo {
    margin-top: 2rem;
  }
  .s5 .s5content .s5contenttwo .contactinfo h1 {
    width: 95%;
    font-size: 1.2em;
    line-height: 1em;
    text-align: center;
  }
  .s5 .s5content .s5contenttwo .contactinfo h2 {
    width: 95%;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .s1 .mytitle {
    width: 90%;
  }
  .s1 h1 {
    margin-top: 2rem;
  }
  .s2 h1 {
    font-size: 2em;
    padding-top: 2rem;
  }
  .s2 .s2contenttwo .aboutme {
    margin-top: -5rem;
  }
  .s3 .s3contenttwo .projectone {
    display: block;
  }
  .s3 .s3contentone h1 {
    font-size: 2em;
    padding-top: 1em;
  }
  .s3 .projectone .imgcontainer {
    width: 40%;
    margin: .2em auto;
  }
  .s3 .projectone .imgcontainer img {
    width: 100%;
  }
  .s3 .projectone .projectcontentone {
    width: 100%;
  }
  .s4 .s4contentone h1 {
    font-size: 2em;
    padding-top: 1em;
  }
  .s4 .s4contenttwo .project .projecttwo {
    display: block;
  }
  .s4 .projecttwo .imgcontainer {
    width: 100%;
  }
  .s4 .projecttwo .projectcontenttwo {
    margin-top: 2em;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */