* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


h1{
        font-family: "Druk Text Wide", sans-serif;
        color: white;
}

.s1{
    background: url('../img/firstpage.png');
    background-size:cover;
    background-position: center;

    h1{
        font-family: "Druk Text Wide", sans-serif;
        font-size: 5em;
        color: transparent;
        -webkit-text-stroke:1px #FFF;
        text-align: center;
    }
    .s1contentone{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    .mytitle{
        width: 30%;
        margin: 1em auto;
    }
    .s1contentone p{
        color: white;
        text-align: center;
    }
}



.s2{
    background: linear-gradient(to left top, rgb(189, 193, 199), white);
    h1{
        font-family:  "Druk Text Wide", sans-serif;
        font-size: 5em;
        color: transparent;
        -webkit-text-stroke: 1px #5b78c7;
        text-align: center;
    }
    

    .s2contentone{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    .aboutme{
        display: flex;
        position: absolute;
        width: 100%;
        top: 20vh;
        left: 0;
        overflow: hidden;
    }
    .selfimg{
        width: 50%;

    }
    .selfimg .imgbox{
        width: 80%;
        height: 100%;
        margin: 2rem auto;

    }
    .imgbox img{
        width: 100%;
   
    }

    .bio{
        width:50%;
    }

    .bio p{
        width: 80%;
        color: #5b78c7;
        font-size: 1.5em;
        line-height: 2em;
        margin: 2rem auto;
    }
}

.s3{
    background:rgb(3, 43, 114);
    .s3content{
        width: 100%;
        position: absolute;
        top:0;
        left:0;
        overflow: hidden;
    }
    .s3contentone{
        width: 100%;
        
    }
    .s3contentone h1{
        font-family: "Druk Text Wide", sans-serif;
        font-size: 5em;
        color: transparent;
        -webkit-text-stroke:1px #FFF;
        text-align: center;
    }
    
    .s3contenttwo{
        margin-top: 2rem;
        width: 45%;

    }

    .s3contenttwo .projectone{
        display: flex;
        width: 100%;


    }

    .s3contenttwo .projecttwo{
        display: flex;
        width: 100%;
        

    }

    .projecttwo .imgcontainer{
        width: 50%;
    }
    .projectone .imgcontainer{
        width: 50%;

    }

    .projecttwo .imgcontainer img{
        width: 100%;
    }
    .projectone .imgcontainer .sizebox{
        width: 50%;
        margin: 1em auto;
    }

    .projecttwo .projectcontenttwo{
        width: 50%;
    }

    .projectcontenttwo .sizebox{
        width: 80%;

        margin: 1em auto;
    }
    .projectcontenttwo .sizebox p{
        color: white;
        font-size: 1.2em;
        // line-height: 1.2em;
    }
    .projectone .projectcontentone p{
        color: white;
        width: 100%;

        margin: 1em auto;

        font-size: 1.2em;
    }

    .projectone .projectcontentone{
        width: 50%;
    }

    .s3contentfour{
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .s3contentfour img{
        width: 100%;
        height: auto;
        border: 1px solid white;
    }
}

.s4{
    background: url('../img/contact_me.png');
    background-size:cover;
    background-position: center;

    .s4content{
        position: absolute;
        width: 100%;
        top:0;
        left: 0;
        overflow: hidden;
    }
    .s4content .contactme{
        display: flex;
        width: 80%;
        margin: 1em auto;
        margin-top: 15%;
        
    }
    h1{
        color: white;
    }

    .s4contentone{
        width: 50%;
        border: 1px solid white;
    }
    .s4contenttwo{
        width: 50%;
        border: 1px solid white;
    }

    .s4contentone .imgcontainer{
        display: flex;
        width: 80%;
        margin:1em auto;
        margin-top: 20%;
        border: 1px solid red;
    }

    .s4contentone #imgone{
        width: 40%;
        margin:1em auto;
    }

    .s4contentone #imgtwo{
        width: 40%;
        margin:1em auto;
    }
}
#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
    background: transparent;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px grey;
    overflow: hidden;
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      border-radius: 50%;
      left: 0;
      bottom: 0;
      background-color: grey;
      box-shadow: 0 0 1px grey;
      transition: height 0.3s;
      
   }
}
      
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
     width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
    background: transparent;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px grey;
    
   &::after {
     height: 100%;
   }
}
